<a href="https://colab.research.google.com/github/jyotikaranmittal/deep-learning-challenge/blob/main/Starter_Code.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Preprocessing

In [31]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

# Import pandas and read the charity_data.csv from the provided cloud URL.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [32]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
df=application_df.drop(['EIN','NAME'],axis=1)
df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [33]:
# Determine the number of unique values in each column.
df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [34]:
# Look at APPLICATION_TYPE value counts to identify and replace with "Other"
# Choose a cutoff value and create a list of application types to be
application_counts = df['APPLICATION_TYPE'].value_counts()
application_counts

# use the variable name `application_types_to_replace`
application_types_to_replace = application_counts[application_counts < 500].index
df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(application_types_to_replace, 'Other')

# Replace in dataframe
for app in application_types_to_replace:
    df['APPLICATION_TYPE'] = df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure replacement was successful
df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [35]:
# Look at CLASSIFICATION value counts to identify and replace with "Other"
classification=df['CLASSIFICATION'].value_counts()
classification

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C1248        1
C6100        1
C1820        1
C1900        1
C2150        1
Name: count, Length: 71, dtype: int64

In [36]:
# You may find it helpful to look at CLASSIFICATION value counts >1
# Look at CLASSIFICATION value counts greater than 1

classification[classification >1]

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C6000       15
C1800       15
C1250       14
C8200       11
C1238       10
C1278       10
C1237        9
C1235        9
C7210        7
C1720        6
C2400        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1256        2
C1246        2
C1234        2
C1267        2
Name: count, dtype: int64

In [37]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = list(classification[classification< 1000].index)




# Replace in dataframe
for cls in classifications_to_replace:
    df['CLASSIFICATION'] = df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure replacement was successful
df['CLASSIFICATION'].value_counts()

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: count, dtype: int64

In [38]:
# Convert categorical data to numeric with `pd.get_dummies`
df1=pd.get_dummies(df)
df1

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M,SPECIAL_CONSIDERATIONS_N,SPECIAL_CONSIDERATIONS_Y
0,1,5000,1,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False
1,1,108590,1,False,False,False,True,False,False,False,...,True,False,False,False,False,False,False,False,True,False
2,1,5000,0,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
3,1,6692,1,False,False,False,True,False,False,False,...,False,True,False,False,False,False,False,False,True,False
4,1,142590,1,False,False,False,True,False,False,False,...,False,False,True,False,False,False,False,False,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
34294,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34295,1,5000,0,False,False,False,False,True,False,False,...,False,False,False,False,False,False,False,False,True,False
34296,1,5000,0,False,False,False,True,False,False,False,...,False,False,False,False,False,False,False,False,True,False
34297,1,5000,1,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,True,False
34298,1,36500179,0,False,False,False,True,False,False,False,...,False,False,False,False,True,False,False,False,True,False

In [51]:
y=df1.IS_SUCCESSFUL.values
X=df1.drop(["IS_SUCCESSFUL"],axis="columns").values

In [52]:
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=42,test_size=0.2)

In [54]:


# Create a StandardScaler instance
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [55]:
# Define the model - deep neural net
nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(tf.keras.layers.Dense(units=128, activation='relu', input_dim=X_train_scaled.shape[1]))

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=64, activation='relu'))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))

# Check the structure of the model
nn.summary()

/usr/local/lib/python3.11/dist-packages/keras/src/layers/core/dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

Model: "sequential"

 Layer (type)                     Output Shape                  Param #

 dense (Dense)                    (None, 128)                     5,632

 dense_1 (Dense)                  (None, 64)                      8,256

 dense_2 (Dense)                  (None, 1)                          65

 Total params: 13,953 (54.50 KB)

 Trainable params: 13,953 (54.50 KB)

 Non-trainable params: 0 (0.00 B)

In [56]:
# Compile the model
nn.compile(optimizer='adam',
           loss='binary_crossentropy',
           metrics=['accuracy'])

In [58]:


# Train the model
history = nn.fit(X_train_scaled, y_train,
                 epochs=50)

Epoch 1/50
858/858  3s 3ms/step - accuracy: 0.7325 - loss: 0.5446
Epoch 2/50
858/858  2s 2ms/step - accuracy: 0.7374 - loss: 0.5398
Epoch 3/50
858/858  3s 2ms/step - accuracy: 0.7340 - loss: 0.5435
Epoch 4/50
858/858  2s 2ms/step - accuracy: 0.7373 - loss: 0.5407
Epoch 5/50
858/858  3s 2ms/step - accuracy: 0.7372 - loss: 0.5400
Epoch 6/50
858/858  3s 3ms/step - accuracy: 0.7369 - loss: 0.5415
Epoch 7/50
858/858  2s 2ms/step - accuracy: 0.7378 - loss: 0.5392
Epoch 8/50
858/858  2s 2ms/step - accuracy: 0.7396 - loss: 0.5363
Epoch 9/50
858/858  3s 2ms/step - accuracy: 0.7396 - loss: 0.5352
Epoch 10/50
858/858  2s 2ms/step - accuracy: 0.7343 - loss: 0.5439
Epoch 11/50
858/858  2s 2ms/step - accuracy: 0.7360 - loss: 0.5386
Epoch 12/50
858/858  3s 3ms/step - accuracy: 0.7418 - loss: 0.5364
Epoch 13/50
858/858  3s 3ms/step - accuracy: 0.7325 - loss: 0.5424
Epoch 14/50
858/858  3s 3ms/step - accuracy: 0.7377 - loss: 0.5385
Epoch 15/50
858/858  5s 3ms/step - accuracy: 0.7368 - loss: 0.5374
Epoch 16/50
858/858  2s 3ms/step - accuracy: 0.7361 - loss: 0.5369
Epoch 17/50
858/858  2s 2ms/step - accuracy: 0.7398 - loss: 0.5332
Epoch 18/50
858/858  2s 2ms/step - accuracy: 0.7364 - loss: 0.5422
Epoch 19/50
858/858  3s 2ms/step - accuracy: 0.7401 - loss: 0.5337
Epoch 20/50
858/858  3s 2ms/step - accuracy: 0.7383 - loss: 0.5356
Epoch 21/50
858/858  3s 3ms/step - accuracy: 0.7388 - loss: 0.5356
Epoch 22/50
858/858  3s 3ms/step - accuracy: 0.7397 - loss: 0.5366
Epoch 23/50
858/858  4s 2ms/step - accuracy: 0.7398 - loss: 0.5333
Epoch 24/50
858/858  2s 2ms/step - accuracy: 0.7425 - loss: 0.5340
Epoch 25/50
858/858  3s 3ms/step - accuracy: 0.7429 - loss: 0.5344
Epoch 26/50
858/858  2s 2ms/step - accuracy: 0.7386 - loss: 0.5385
Epoch 27/50
858/858  2s 2ms/step - accuracy: 0.7407 - loss: 0.5356
Epoch 28/50
858/858  2s 2ms/step - accuracy: 0.7443 - loss: 0.5304
Epoch 29/50
858/858  2s 2ms/step - accuracy: 0.7370 - loss: 0.5369
Epoch 30/50
858/858  2s 2ms/step - accuracy: 0.7420 - loss: 0.5319
Epoch 31/50
858/858  3s 3ms/step - accuracy: 0.7379 - loss: 0.5376
Epoch 32/50
858/858  6s 5ms/step - accuracy: 0.7355 - loss: 0.5398
Epoch 33/50
858/858  5s 5ms/step - accuracy: 0.7401 - loss: 0.5345
Epoch 34/50
858/858  3s 2ms/step - accuracy: 0.7419 - loss: 0.5333
Epoch 35/50
858/858  2s 2ms/step - accuracy: 0.7431 - loss: 0.5331
Epoch 36/50
858/858  3s 2ms/step - accuracy: 0.7403 - loss: 0.5332
Epoch 37/50
858/858  2s 2ms/step - accuracy: 0.7374 - loss: 0.5387
Epoch 38/50
858/858  3s 3ms/step - accuracy: 0.7406 - loss: 0.5327
Epoch 39/50
858/858  2s 2ms/step - accuracy: 0.7455 - loss: 0.5265
Epoch 40/50
858/858  2s 2ms/step - accuracy: 0.7387 - loss: 0.5348
Epoch 41/50
858/858  2s 2ms/step - accuracy: 0.7394 - loss: 0.5352
Epoch 42/50
858/858  3s 2ms/step - accuracy: 0.7474 - loss: 0.5266
Epoch 43/50
858/858  5s 5ms/step - accuracy: 0.7379 - loss: 0.5344
Epoch 44/50
858/858  3s 2ms/step - accuracy: 0.7377 - loss: 0.5342
Epoch 45/50
858/858  2s 2ms/step - accuracy: 0.7405 - loss: 0.5338
Epoch 46/50
858/858  3s 2ms/step - accuracy: 0.7403 - loss: 0.5322
Epoch 47/50
858/858  2s 2ms/step - accuracy: 0.7431 - loss: 0.5302
Epoch 48/50
858/858  2s 3ms/step - accuracy: 0.7402 - loss: 0.5342
Epoch 49/50
858/858  3s 3ms/step - accuracy: 0.7464 - loss: 0.5280
Epoch 50/50
858/858  2s 2ms/step - accuracy: 0.7420 - loss: 0.5345

In [60]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 0s - 2ms/step - accuracy: 0.7265 - loss: 0.5666
Loss: 0.5665784478187561, Accuracy: 0.7265306115150452

In [62]:
# Export our model to HDF5 file
nn.save("My_model.keras")